#flashcard-list {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
/* flex-direction column when below 700px width */
@media (max-width: 700px) {
  #flashcard-list {
    flex-direction: column;
  }
}
.flashcard {
  align-items: center;
  font-size: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
  width: 50%;
  height: 30vh;
}


.correct {
  color: white;
  background-color: rgb(69, 135, 197);
}

.incorrect {
  color: white;
  background-color: rgb(145, 62, 62);
}

li {
  width: 50%;
}

li:hover {
  cursor: pointer;
  background-color: rgb(213, 223, 231);
}