/* LightTheme.module.css */
.container {
    background-color: #97d0e1;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
  }
  
  .button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }  